@using ShowLogger.Models

@model WatchlistModel

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmEditWatchlist" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.WatchlistId)
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.OA().LabelFor(m => m.ShowName)
        </div>

        <div id="divShowNameTxt" class="col-sm-6">
            @Html.OA().TextBoxFor(m => m.ShowName).HtmlAttributes(new { @class = "mandatory" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            @Html.OA().LabelFor(m => m.SeasonNumber)
        </div>

        <div class="col-sm-6">
            @Html.OA().NumericTextBoxFor(m => m.SeasonNumber)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            @Html.OA().LabelFor(m => m.EpisodeNumber)
        </div>

        <div class="col-sm-6">
            @Html.OA().NumericTextBoxFor(m => m.EpisodeNumber)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            @Html.OA().LabelFor(m => m.ShowTypeId)
        </div>

        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.ShowTypeId, new List<SelectListItem>
            {
                new SelectListItem { Value = "1000", Text = "TV" },
                new SelectListItem { Value = "1001", Text = "Movie" },
                new SelectListItem { Value = "1002", Text = "AMC" },
            }, new { @class = "form-control mandatory" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            @Html.OA().LabelFor(m => m.ShowNotes)
        </div>

        <div class="col-sm-8">
            @(Html.OA().TextAreaFor(m => m.ShowNotes)
                .Rows(4)
                .HtmlAttributes(new { @style="width:100%;" })
            )
        </div>
    </div>

}